div.clearfix{
	clear:both;
}

header{
	padding: 40px 30px;
}

hr{
	background-color: #e1e1e1;
	color: #e1e1e1;
}

/* Header */

div.text-block,
div.buttons-block{
	display:inline-block;
}



/* Text header block */
div.text-block{
	text-align: left;
	float:left;
	max-width: 70%;
	margin-top: 10px;
}
div.text-block h2{
	font-family: HelveticaNeueCyrLight;
	font-size: 2em;
	color: #dc0917;
	font-weight: 300;
}
div.text-block h1{
	font-family:HelveticaNeueCyrLight;
	font-size: 3.5em;
	color: #010102;
	font-weight: 300;
}
div.text-block h1 span{
	color: #dc0917;
}
div.text-block p.sub-title{
	font-family: HelveticaNeueCyrUltraLight;
	font-size: 2.3em;
	color: #010102;
	font-weight: 200;
}
/* END */





/* Buttons block */
div.buttons-block{
	float: right;
}
div.buttons-block div.block-1,
div.buttons-block div.block-2{
	display: inline;
}

div.buttons-block div.block-1{
	float:left;
}
div.buttons-block div.block-2{
	float:right;
}
/* END */







/* Buttons appearence */
div.button{
	height: 48px;
	margin-top: 5px;
}
div.buttons-block div.block-2 div.button{
	margin-left:20px;
}

div.button div.button-icon-circle,
div.button div.button-text{
	display: inline;
}

div.button div.button-icon-circle,
div.button div.button-icon{
	background-repeat: no-repeat;
	background-size: 100%;
}

div.button div.button-icon-circle{
	width: 48px;
	height: 48px;
	float:left;
}
div.button div.button-icon{
	width:32px;
	height:32px;
	position: relative;
}

div.button.user-signals div.button-icon-circle{
	background-image: url(../img/usersignals-icon-circle.png);
}
div.button.user-signals div.button-icon{
	background-image: url(../img/usersignals-icon.png);
	left: 8px;
	top: 5px;
}

div.button.social div.button-icon-circle{
	background-image: url(../img/social-icon-circle.png);
}
div.button.social div.button-icon{
	background-image: url(../img/social-icon.png);
	left: 11px;
	top: 11px;
}

div.button.backlinks div.button-icon-circle{
	background-image: url(../img/backlinks-icon-circle.png);
}
div.button.backlinks div.button-icon{
	background-image: url(../img/backlinks-icon.png);
	width: 40px;
	left: 4px;
	top: 21px;
}

div.button.onpage-technical div.button-icon-circle{
	background-image: url(../img/onpage-technical-icon-circle.png);
}
div.button.onpage-technical div.button-icon{
	background-image: url(../img/onpage-technical-icon.png);
	left: 8px;
	top: 11px;
}

div.button.onpage-content div.button-icon-circle{
	background-image: url(../img/onpage-content-icon-circle.png);
}
div.button.onpage-content div.button-icon{
	background-image: url(../img/onpage-content-icon.png);
	left: 11px;
	top: 6px;
}

div.button div.button-text{
	margin-left: 8px;
	margin-top: 18px;
	float:left;
	
	font-family: HelveticaNeueCyrBold;
	font-weight:700;
	font-size:0.9em;

	text-align: left;

}

div.button.user-signals div.button-text{
	color: #e97470;
}
div.button.social div.button-text{
	color: #f4a943;
}
div.button.backlinks div.button-text{
	color: #7cc0d1;
}
div.button.onpage-technical div.button-text{
	color: #6cb867;
}
div.button.onpage-content div.button-text{
	color: #73caf1;
}

/* END */


/* Main container */

div.main-container{
	padding: 40px 3%;
}

/* Background grid layer */

/*div.grid-background{
	position: relative;
	z-index: 1;
	width: 100%;
}*/

div.grid-background{
	position: absolute;
    left: 0;
	z-index: -1;
	width: 100%;
}

div.grid-background div.vertical-line{
	display: inline-block;
	float: left;
	height:100%;
	width: 1px;
	background-color: #e1e1e1;
}



/* END */

div.rows-stack{
	position: relative;
	width:100%;
	margin-top: 50px;
	z-index: 2;
}

div.row{
	height:30px;
	width: 100%;
	margin-top: 40px;
}

div.row-description,
div.row-value{
	height: 30px;
	display: inline-block;
	float: left;

	/*border: 1px dashed black;*/
}

div.row-description{
	width: 45%;
}
div.row-value{
	width: 55%;	
}


div.row-description p,
div.row-value p{
	float:right;
}

div.row-value p{
	font-family: HelveticaNeueCyrLight;
	font-size: 1.5em;
	font-weight: 300;
	margin: 3px 5px 0px 0px;
	color: #fff;
}

/* Row appearence */

div.row.user-signals div.row-value{
	background-color: #e97470;
}
div.row.social div.row-value{
	background-color: #f4a943;
}
div.row.backlinks div.row-value{
	background-color: #7cc0d1;
}
div.row.onpage-technical div.row-value{
	background-color: #6cb867;
}
div.row.onpage-content div.row-value{
	background-color: #73caf1;
}

/* END */


/* END */
